* {
    font-family: 'Nunito', sans-serif;

}

body {
    background-color: rgb(131, 189, 117);

}

h1 {
    font-weight: bolder;
    font-size: 40px;
}

.search-button {
    background-color: #E9EFC0;
    ;
}

.vertical-line {
    height: 100%;
}

.units {
    color: rgb(78, 148, 79);
    font-weight: 800;
}